    <%= link_to "Show mah Fancybox!", "#hello", class: "fancybox" %>

          
                 <div style="display:none">
                   <div id = "hello">
                    <div style="text-align:center; font-family:'oswald,'Malgun gothic';">
                     <h1 style="font-weight:bold;font-size:30px;">아 뭐듣지 ?!</h1>

          
                  <h4>    아뭐듣지.com</h4>
                  아뭐듣지는 세종대 학우 <strong><%=User.count+50%></strong>명과 함께 하고 있습니다.<br>
                  <strong><%=Comment.count+40%></strong>개의 강의평가가 있습니다.<br>
                  <p style= "font-weight:bold">로그인 후 이용 부탁 드립니다 <br><br><br></p>

                  <%=link_to "Facebook으로 1초만에 가입하기","/auth/facebook", target: "_parent", class: "btn btn-primary"%>
                    </div>
                   </div> 
                  </div>


                




    <script>

    $(document).ready(function() {
      var visited = $.cookie('visited');
      if ( visited =='yes')
           { return false;}
      else { 
          $.cookie('visited','yes', { expires: 0.5}); //반나절 뒤에 쿠키삭제됨.
          $("a.fancybox").fancybox({
            'scrolling' : 'no',
            'padding' : 20,
            'width'   :400,
            'height'  :300,
            'transitionIn'    :    'none',
            'transitionOut'    :    'none',
            'speedIn'        :    400,
            'speedOut'        :    200,
            'autoDimensions'  : false,
            'overlayShow'    :    true
          });
          }
});

    </script>