<br><br>
<div class ="search_box">
  <div class="table-responsive sort_paginate_ajax" id="searchtables">
      <%= render 'searchtables' %>
 	 

  </div> 
 
	<div class="col-xs-2"></div >	 

   

</div>    




<script>
function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>3 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
       <% else %>
          $.fancybox({
            type: 'iframe',
            href: '/forcinglogin',
              'scrolling' : 'no',
                'padding' : 20,
                'width'   :400,
                'height'  :300,
                'transitionIn'    :    'none',
                'transitionOut'    :    'none',
                'speedIn'        :    400,
                'speedOut'        :    200,
                'autoDimensions'  : false,
                'overlayShow'    :    true

          });
       <% end %>        
  }

</script>

