<<<<<<< HEAD
<div class="progress" style="width:40%">
=======
<div class="col-md-3"></div>
<div class="progress" >
>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d

	<div class="progress-bar progres-bar-success" id ="first_grade" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "second_grade" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "third_grade" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "fourth_grade" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>


</div>  
	
<<<<<<< HEAD

<div class="progress" style="width:40%">
=======
<div class="col-md-3"></div>
<div class="progress" >
>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d

	<div class="progress-bar progres-bar-success" id ="first_workload" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "second_workload" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "third_workload" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "fourth_workload" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>


</div>  
<<<<<<< HEAD
	<div id ="submit_button">button</div>
=======


<div class="col-md-3"></div>
<div class="progress" >

	<div class="progress-bar progres-bar-success" id ="first_achievement" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "second_achievement" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "third_achievement" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "fourth_achievement" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>


</div>  


<div class="col-md-3"></div>
<div class="progress" >

	<div class="progress-bar progres-bar-success" id ="first_level" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "second_level" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "third_level" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "fourth_level" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>


</div>  
<div class="col-md-3"></div>
<div class="progress" >

	<div class="progress-bar progres-bar-success" id ="first_total" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "second_total" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "third_total" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>

	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" id = "fourth_total" aria-valuemax="25" style="width: 25%;">
	    <span class="sr-only">0% Complete</span>
	</div>


</div>  
	<div class="col-md-3"></div>
	
>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d


<script>
	// progress bar에 마우스를 올리면 	=>	hover
	// progress bar에 색을 채운다.
var grade;
var workload;
<<<<<<< HEAD
=======
var achievement;
var total;
var level;
>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d
	// first_grade
	$('#first_grade').hover(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#first_grade').on('mouseout');

	});

	$('#first_grade').mouseout(function(){
		$('#first_grade').attr('aria-valuenow', '0');
	});

	$('#first_grade').click(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '0');
		$('#third_grade').attr('aria-valuenow', '0');
		$('#fourth_grade').attr('aria-valuenow', '0');
		$('#first_grade').off('mouseout');
		grade = 25;
	});


	// second_grade
	$('#second_grade').hover(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
	});

	$('#second_grade').mouseout(function(){
		$('#first_grade').attr('aria-valuenow', '0');
		$('#second_grade').attr('aria-valuenow', '0');
	});

	$('#second_grade').click(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
		$('#third_grade').attr('aria-valuenow', '0');
		$('#fourth_grade').attr('aria-valuenow', '0');

		$('#first_grade').off('mouseout');
		$('#second_grade').off('mouseout');
		grade = 50;
	});

	// third_grade
	$('#third_grade').hover(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
		$('#third_grade').attr('aria-valuenow', '100');
	});

	$('#third_grade').mouseout(function(){
		$('#first_grade').attr('aria-valuenow', '0');
		$('#second_grade').attr('aria-valuenow', '0');
		$('#third_grade').attr('aria-valuenow', '0');
	});

	$('#third_grade').click(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
		$('#third_grade').attr('aria-valuenow', '100');

		$('#fourth_grade').attr('aria-valuenow', '0');
		
		$('#first_grade').off('mouseout');
		$('#second_grade').off('mouseout');
		$('#third_grade').off('mouseout');
		grade = 75;
	});

	// fourth_grade
	$('#fourth_grade').hover(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
		$('#third_grade').attr('aria-valuenow', '100');
		$('#fourth_grade').attr('aria-valuenow', '100');
	});

	$('#fourth_grade').mouseout(function(){
		$('#first_grade').attr('aria-valuenow', '0');
		$('#second_grade').attr('aria-valuenow', '0');
		$('#third_grade').attr('aria-valuenow', '0');
		$('#fourth_grade').attr('aria-valuenow', '0');
	});


	$('#fourth_grade').click(function(){
		$('#first_grade').attr('aria-valuenow', '100');
		$('#second_grade').attr('aria-valuenow', '100');
		$('#third_grade').attr('aria-valuenow', '100');
		$('#fourth_grade').attr('aria-valuenow', '100');

		$('#first_grade').off('mouseout');
		$('#second_grade').off('mouseout');
		$('#third_grade').off('mouseout');
		$('#fourth_grade').off('mouseout');
		grade = 100;
	});

<<<<<<< HEAD
		// first_workload
=======
	// first_workload
>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d
	$('#first_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#first_workload').on('mouseout');

	});

	$('#first_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
	});

	$('#first_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#first_workload').off('mouseout');
		workload = 25;
	});


	// second_workload
	$('#second_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
	});

	$('#second_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
	});

	$('#second_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');

		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		workload = 50;
	});

	// third_workload
	$('#third_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
	});

	$('#third_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
	});

	$('#third_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');

		$('#fourth_workload').attr('aria-valuenow', '0');
		
		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		$('#third_workload').off('mouseout');
		workload = 75;
	});

	// fourth_workload
	$('#fourth_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');
	});

	$('#fourth_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
	});


	$('#fourth_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');

		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		$('#third_workload').off('mouseout');
		$('#fourth_workload').off('mouseout');
		workload = 100;
	});
<<<<<<< HEAD
	$('#submit_button').click(function(event){
		event.preventDefault();
		<%if !current_user.valuations.find_by(lecture_id: params[:id]).nil?%>
		  alert('이미 평가를 하였습니다.')
		<%else %>
		$.ajax({
			url: "/valuations",
			type: "post",
			data: {'grade':grade, 'lecture_id':<%=params[:id]%>, 'workload':workload},
			success: function(){
				alert('saved successfully');
			},
			error:function(){
				alert('error')
			}

		});
		$.ajax({
			url: "/comments",
			type: "post",
			data: {'lecture_id':<%=params[:id]%>,
					 comment:{'content':$("#lecture_comment").val()}
					},
			success: function(){
				alert('saved successfully');
			},
			error:function(){
				alert('error')
			}		

		});
		<%end%> 
	});


=======




	// first_achievement
	$('#first_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#first_achievement').on('mouseout');

	});

	$('#first_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
	});

	$('#first_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#first_achievement').off('mouseout');
		achievement = 25;
	});


	// second_achievement
	$('#second_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
	});

	$('#second_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
	});

	$('#second_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');

		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		achievement = 50;
	});

	// third_achievement
	$('#third_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
	});

	$('#third_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
	});

	$('#third_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');

		$('#fourth_achievement').attr('aria-valuenow', '0');
		
		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		$('#third_achievement').off('mouseout');
		achievement = 75;
	});

	// fourth_achievement
	$('#fourth_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');
	});

	$('#fourth_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
	});


	$('#fourth_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');

		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		$('#third_achievement').off('mouseout');
		$('#fourth_achievement').off('mouseout');
		achievement = 100;
	});




	// first_level
	$('#first_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#first_level').on('mouseout');

	});

	$('#first_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
	});

	$('#first_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
		$('#first_level').off('mouseout');
		level = 25;
	});


	// second_level
	$('#second_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
	});

	$('#second_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
	});

	$('#second_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');

		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		level = 50;
	});

	// third_level
	$('#third_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
	});

	$('#third_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
	});

	$('#third_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');

		$('#fourth_level').attr('aria-valuenow', '0');
		
		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		$('#third_level').off('mouseout');
		level = 75;
	});

	// fourth_level
	$('#fourth_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');
	});

	$('#fourth_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
	});


	$('#fourth_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');

		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		$('#third_level').off('mouseout');
		$('#fourth_level').off('mouseout');
		level = 100;
	});



	// first_total
	$('#first_total').hover(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#first_total').on('mouseout');

	});

	$('#first_total').mouseout(function(){
		$('#first_total').attr('aria-valuenow', '0');
	});

	$('#first_total').click(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '0');
		$('#third_total').attr('aria-valuenow', '0');
		$('#fourth_total').attr('aria-valuenow', '0');
		$('#first_total').off('mouseout');
		total = 25;
	});


	// second_total
	$('#second_total').hover(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
	});

	$('#second_total').mouseout(function(){
		$('#first_total').attr('aria-valuenow', '0');
		$('#second_total').attr('aria-valuenow', '0');
	});

	$('#second_total').click(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
		$('#third_total').attr('aria-valuenow', '0');
		$('#fourth_total').attr('aria-valuenow', '0');

		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		total = 50;
	});

	// third_total
	$('#third_total').hover(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
		$('#third_total').attr('aria-valuenow', '100');
	});

	$('#third_total').mouseout(function(){
		$('#first_total').attr('aria-valuenow', '0');
		$('#second_total').attr('aria-valuenow', '0');
		$('#third_total').attr('aria-valuenow', '0');
	});

	$('#third_total').click(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
		$('#third_total').attr('aria-valuenow', '100');

		$('#fourth_total').attr('aria-valuenow', '0');
		
		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		$('#third_total').off('mouseout');
		total = 75;
	});

	// fourth_total
	$('#fourth_total').hover(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
		$('#third_total').attr('aria-valuenow', '100');
		$('#fourth_total').attr('aria-valuenow', '100');
	});

	$('#fourth_total').mouseout(function(){
		$('#first_total').attr('aria-valuenow', '0');
		$('#second_total').attr('aria-valuenow', '0');
		$('#third_total').attr('aria-valuenow', '0');
		$('#fourth_total').attr('aria-valuenow', '0');
	});


	$('#fourth_total').click(function(){
		$('#first_total').attr('aria-valuenow', '100');
		$('#second_total').attr('aria-valuenow', '100');
		$('#third_total').attr('aria-valuenow', '100');
		$('#fourth_total').attr('aria-valuenow', '100');

		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		$('#third_total').off('mouseout');
		$('#fourth_total').off('mouseout');
		total = 100;
	});


	









	


>>>>>>> b1508a1e4710a0c5f31627e415ce3b430513f12d
</script>














