<%= render 'home_daemoon'%>
  

<aside>
  <div id='cssmenu'>
    <ul>
      <li><a href="#">이용가이드</a></li>
      <li><a href="http://goo.gl/forms/CWP0XnBEqJ">feedback</a></li>
    </ul>
  </div>
</aside>
   
<div class = "row">
  <div id="lecturelist">
      <%= render 'home_search' %>
  </div>
</div>




<script>

   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 

  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>');
  <% end %>

  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });

});

</script>
