<div class= "container">
  <div class = "col-xs-8 col-xs-offset-1">
    <div class="jumbotron" style = "padding-top :10px;
                                    padding-bottom : 10px;
                                    padding-left : 15px;
                                    padding-right : 15px;">
          <h3>공지사항</h3>
          <p style = "font-size : 16px;">안녕하세요 아뭐듣지 운영진입니다!
          </p>
          <p style = "font-size : 16px;">
          아뭐듣지는 학생들이 수강신청시 겪는 어려움 및 강의 질 개선을 위해 만들었습니다.
          </p>
          <p style = "font-size : 16px;">      
          학생들이 수강신청을 할 때 겪는 어려움은
          “강의계획서로는 부족한 강의에 대한 정보”입니다.</p>
          
          <p style = "font-size : 16px;">이러한 문제를
          실제 수강생들의 후기를 공유함으로써 해결하려합니다. 
          </p>
          


           

          </p>
    </div> 
  </div>
</div>


<div class="row" id="recent">
	<div class="col-md-8 col-md-offset-2"  align="left">

    <!--%= render 'dropdown_btns'%>-->
    <!-- 학과 선택 dropdown -->
    
    <%= render 'home_daemoon'%>
  
  </div> <!-- col-md-8 -->
</div>  <!-- row -->


<div class = "row">
 
  
      <% if params[:search] %> 
        <div id="lecturelist">
            <%= render 'home_search' %>
        </div>
      <% else %>

      <div class = "col-xs-9 col-xs-offset-2"> 
            <div id="valuationlist">
                      <h3>최근 강의평가</h3>
              <%= render 'home_user' %>
            </div>
      </div>  
      <% end %>


</div>




<script>

   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 

  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>')
  <% end %>

  $(function(){

    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });

});

</script>