<div class="container" style = "background : white;">
      <div class="page-header">
        <h1>아뭐듣지.com</h1>
      </div>
      <p class="lead">학생들이 수강신청시 겪는 어려움 및 강의 질 개선을 위해 만들었습니다.
      </p>

      

<p>8월 테스트 기간 후에 바뀐점이 있습니다.

바뀐점은 강의평가를 무조건 3번 해야 자세한 강의평가를 볼 수 있습니다. </p>

<p>일단 바뀐 이유는 많은 학생분들이 강의평가를 하지 않고,

다른 학우분들이 평가한 내용만 보고 나가시더라구요ㅠㅠ..</p>

<p>그래서 다른 학우분들에게도 도움을 주기 위해 3번 이상! 해주셔야

강의평가 자세히보기가 가능합니다. </p>

<p>자세하고 많은 강의평가 부탁드리며, 서비스 이용 중 불편한 점은

우측 하단 아래에 feedback(빨간버튼)을 통해 주시기 바랍니다.</p>

</div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>