<div>
Test
</div>

<div id = "bcontent">

</div>

<script>
$.ajax({
	url : 'home.html',
	dataType: 'html'
	}).done(function(data){
	//data에 ajax 요청한 페이지 태그가 존재하므로 원하는 위치에 어펜드
	// ex) 
	$(data).appendTo('#bcontent');
	});
</script>