
<div class = "col-md-4">
	<div id = "uptachi_form">
		<span class = "xtachi_num" id="uptachi_num"><%= @lecture.uptachi.to_s %></span>
		<%= render 'lectures/uptachi' %>
	</div>
</div>
<div class = "col-md-4">
	<div id = "hatachi_form">
		<span class = "xtachi_num" id="hatachi_num"><%= @lecture.hatachi.to_s %></span>
		<%= render 'lectures/hatachi' %>			
	</div>
</div>

<!-- 로그인된 유저에게만 valuation 검사  -->











