<div class="container-fluid writtingform_box">

<div class = "row ">
	<div class="col-md-3"></div>

        		<div class="col-md-6">

        				<h2 class="inline-blk"> <%= @lecture.subject %> </h2> <span><%= @lecture.major%></span>
        			
        				<p class="lead">
        					<%= @lecture.professor %></p>

        		</div><!-- /.col-md-8 -->

	<div class="col-md-3"></div>
	</div>

	

		<%= render 'static_pages/progress_bar' %>
</div>
	


<script>
$(document).ready(function() {
	var text_length=0;
    var text_max = 200;

    document.getElementById('showremain').style.color="red"
    document.getElementById('submit_button').disabled='평가하기'
    $('#showremain').html('0'+'/'+text_max);

    $('.message').keyup(function() {
        text_length = $('.message').val().length;
        var text_remaining = text_max - text_length;
        $('#showremain').html(text_length.toString()+'/'+text_max.toString() );
    /*글자가 40자 이상시 파란색*/
    if (text_length>39)
        {
        	document.getElementById('showremain').style.color="blue"
        	document.getElementById('submit_button').disabled=false;
        }
    /*글자가 40자 미만시 빨간색*/    
    else
        {
        	document.getElementById('showremain').style.color="red"
        	document.getElementById('submit_button').disabled='평가하기'
        }
        
    });
/*
    $('.message').click(function() {
    	this.value="강의 방식은 "
    })
*/
  
});



</script>