<div class = "row row_padding_zero">
    <div class = "col-xs-9 col-xs-offset-2" style="margin-bottom:3%;">
        <div class = "row row_padding_zero">
            <div class="col-xs-8 writtingform_box">
                <div style = "background : white;">
                <h3> 아뭐듣지! </h3>
                <p>
                    아뭐듣지는 학우 여러분께 보다 많은 강의정보를 제공하기 위한 서비스입니다.
                </p>
                <p>
                    강의평가 2개 이상 작성해주셔야, 다른 학우들의 강의 평가를 열람할 수 있습니다.
                </p>
                
            </div>
        </div>
         <%= render 'lectures/sidebar' %>
    </div>
</div>


<div class = "row row_padding_zero">
    <div class = "col-xs-9 col-xs-offset-2">
        <div class = "row" style="margin-top:-20%;">
    		<div class="col-xs-8 writtingform_box"  style = "padding-bottom:25px;">

    			<h2 class="inline-blk"> 
                    <%= @lecture.subject %> 
                </h2> 
                <span><%= @lecture.professor %></span>
                
                <div class = "row">
                    <div class = "col-xs-2">
                        강의평가
                    </div>
                    <div class = "col-xs-10">
                        <%= render 'static_pages/progress_bar' %>
                    </div>
                    
    		</div><!-- /.col-md-8 -->
        </div>      
    </div>
</div>



<script>
$(document).ready(function() {
    $('.message').html('');
	var text_length=$('.message').val().length;
    var text_max = 1000;
    var click_textarea=0;
    var example_text1="1. 수업방식은?(일반강의형, 토론형, 참여형 등): ";
    var example_text2="2. 중간고사, 기말고사 시험방식은?(서술형, 객관식 등 구체적일수록 좋아요): ";
    var example_text3="3. 과제는 어떤 방식인가요? : ";
    var example_text4="4. 이 강의의 불만사항 및 팁이 있나요? : ";
    var example_text5="5. 교재구입여부 (Y/N) : ";

    document.getElementById('showremain').style.color="red"
    
    $('.message').click(function()
    {
        if(click_textarea==0)
            {
                $('.message').html(example_text1+'\n\n'+example_text2+'\n\n'+example_text3+'\n\n'+example_text4+'\n\n'+example_text5);
                 text_length=$('.message').val().length;
                 $('#showremain').html(text_length+'/'+text_max);
            }
        else 
            {

            }
    });

    $('#showremain').html(text_length+'/'+text_max);
    
    $('.message').keyup(function() {
        text_length = $('.message').val().length;
        var text_remaining = text_max - text_length;
        $('#showremain').html(text_length.toString()+'/'+text_max.toString() );
    /*글자가 40자 이상시 파란색*/
    if (text_length>180)
        {
        	document.getElementById('showremain').style.color="blue"
       
        }
    /*글자가 40자 미만시 빨간색*/    
    else
        {
        	document.getElementById('showremain').style.color="red"
        	
        }
    });

});



</script>