<div class="timetable_btn">
  <%= button_to "", class: 'btn btn-default download_btn', :type => 'button', id: 'save_image_locally' do %>
      <i class="glyphicon glyphicon-download-alt" style="color:white;"><B>다운로드</B></i>
  <% end %>
</div>

<div class="timetable_btn">
    <%= button_to delete_timetable_path(current_timetable.id),
                  method: :delete, data: { confirm: "현재 시간표 지울꺼에요..??" },
                  class: 'btn btn-default del_btn', :type => 'button', :id => 'del_timetable_btn' do %>
      <i class="glyphicon glyphicon-remove" style="color:white;"><B> 삭제 </B></i>
    <% end %>
</div>

<!-- <div> -->
  
  <!--%= button_to copy_path, method: :get, class: 'btn btn-default copy_btn', :type => 'button' do %-->
    <!--%= hidden_field_tag :id, @current_timetable.id %-->
    <!-- <i class="glyphicon glyphicon-file" style="color:white;"><B> 복사 </B></i> -->
  <!--% end %-->

<!-- </div> -->



















