<div class="timetable_btn">
  <!--%= button_to class: 'btn btn-default download_btn', :type => 'button', id: 'save_image_locally' do %-->
  	<div class = "btn btn-default download_btn" id = "save_image_locally">
      <i class="glyphicon glyphicon-download-alt" id = "save_image_locally" style="color:white;"><B>다운로드</B></i>
    </div>
  <!--% end %-->
</div>

<div class="timetable_btn">
    <%= button_to delete_timetable_path(current_timetable.id),
                  method: :delete, data: { confirm: "현재 시간표 지울꺼에요..??" },
                  class: 'btn btn-default del_btn', :type => 'button', :id => 'del_timetable_btn' do %>
      <i class="glyphicon glyphicon-remove" style="color:white;"><B> 삭제 </B></i>
    <% end %>
</div>
