<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<h1> 별명 설정 </h1>
<h5> 100% 익명보장 </h5>
<br>
<%= form_for @user do |f|%>

<%= f.label :"별명" %>
<%= f.text_field :nickname %> <br><br>


<%= f.submit :submit %>

<% end %>


	</div>

	<div class="col-md-1"></div>
	</div>

