<% if logged_in_user? %>

	<%= form_for current_user.comments.build do |f| %>
		
		<div class="field">
			<%= f.text_area :content, cols: 80, rows: 3, placeholder: "강의에 대하여 간단한 평가를 남겨주세요." %>
		</div>
			<%= hidden_field_tag :lecture_id, @lecture.id %>
		
		<%= f.submit "Post", class: "btn btn-primary" %>
		
	<% end %>
<% else %>
		<textarea cols=80 rows=3 id='login_comment'> </textarea>
<% end %>


<script>
$(document).ready(function(){
    $('#login_comment').click(function() {gotofacelogin(); });
    $('#login_comment').val("페이스북 로그인을 해주세요.")

  });
function gotofacelogin(){
 	window.location="http://25.25.128.138:3003/auth/facebook"
}
</script>