<% if var <= 20 %>
		<span class = "active"></span>
		<span class></span>
		<span class></span>
		<span class></span>
		<span class></span>

<% elsif var <= 40 %>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
		<span class></span>
		<span class></span>
<% elsif var <= 60 %>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
		<span class></span>
<% elsif var <= 80 %>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
<% elsif var <= 100 %>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
<% end %>