<% if var <= 1 %>
	<div class = "valuation_star">
		<span class = "active"></span>
		<span class></span>
		<span class></span>
		<span class></span>
		<span class></span>
	</div>
<% elsif var <= 2 %>
	<div class = "valuation_star">
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
		<span class></span>
		<span class></span>
	</div>
<% elsif var <= 3 %>
	<div class = "valuation_star">
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
		<span class></span>
	</div>
<% elsif var <= 4 %>
	<div class = "valuation_star">
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class></span>
	</div>
<% elsif var <= 5 %>
	<div class = "valuation_star">
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
		<span class = "active"></span>
	</div>

<% end %>