@import "bootstrap-sprockets";
@import "bootstrap";


/* 댓글 입력폼 설정 */
#login_comment{
  resize:none;
}
#comment_content{
  resize:none;
}


.row{
	padding-top: 30px;
}
.fb-login-button{
  padding-top: 15px;
}
h1{
  display: inline;
}

#sejonglogo{
  padding-top: 5px;
}

#form1{
  display: inline;
  float: right;
 
}


@mixin box_sizing {

  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* header */

#header{
  font-size: 30px;
  
  color: white;
  font-weight:bold;
}

/* miscellaneous */

.debug_dump { 
  /*margin-left: 140px;*/
  clear: both;
  float: left;
  width: 82.5%;
  margin-top: 45px;
  @include box_sizing; 
}
/*
#lecture_list:hover {
  background-color: yellow;
  line: false;
}
*/
/*
tr.lovelyrow{
  background-color: #F6E3CE;
}
*/

tr.lovelyrow:hover{
  background-color: #CEF6EC;
  cursor: pointer;
  font-weight:bold;
}

table.nogap{
  border-collapse: collapse;
}

#tb_unspot{
 color: gray;
 }
#tb_spot{
  font-weight:bold;
}



/* side bar */

aside {
  display:inline-block;
  float:right;
  width:150px;

}
#side_bar_pro {
  display :inline-block;
  float : right;
  
}
#side_bar_sub {
  display :inline-block;
  float : right;
  
}