@import "bootstrap-sprockets";
@import "bootstrap";



@font-face{font-family:'Nanum_Gothic'; src:url('nanum_gothic.ttf')}

@import url(http://fonts.googleapis.com/css?family=Oswald);


/* fancybox */
.fancybox{
  display:none;
}
body{
  font-family: Nanum_Gothic;
  background-color : #F5F5F5;
}

div{
  li{
    padding-left : 0px;
  }
}




.login_box{  
  .content_box{
    border-bottom: 1px solid #e8e8e8;
  }
}

/* 댓글 입력폼 설정 */
#login_comment{
  resize:none;
}
#comment_content{
  resize:none;
}



#grade_text{
  display: inline;
  margin-left:10px;
}

#workload_text{
  display: inline;
  margin-left:10px;
}
#achievement_text{
  display: inline;
  margin-left:10px;
}
#level_text{
  display: inline;
  margin-left:10px;
}
#homework_text{
  display: inline;
  margin-left:10px;
}
#total_text{
  display: inline;
  margin-left:10px; 
}

.row{
  padding-top: 30px;
}
.fb-login-button{
  padding-top: 15px;
}
h1{
  display: inline;
}

#sejonglogo{
  padding-top: 5px;
}

#form1{
  display: inline;
  float: center;


}
#form2{
  width:100%;   
  text-align:center; 
  margin-right:auto;
  margin:0 auto;
}
.row_padding_reduction{
  padding-top:10px;
}
.zero-padding-right{
  padding-right:0;
}
.zero-padding-left{
  padding-left:0;
}


@mixin box_sizing {

  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* header */





/* miscellaneous */

.debug_dump { 
  /*margin-left: 140px;*/
  clear: both;
  float: left;
  width: 82.5%;
  margin-top: 45px;
  @include box_sizing; 
}
/*
#lecture_list:hover {
  background-color: yellow;
  line: false;
}
*/

/*
tr.lovelyrow{
 vertical-align:middle
}
*/

tr.lovelyrow:hover{
  background-color: #CEF6EC;
  cursor: pointer;
  font-weight:bold;
}

table.nogap{
  border-collapse: collapse;
}

.nav.navbar-nav.navbar-right
{
  margin-right: 10%;
}

#navbar_margin_top{
  margin-top:15px;
}
#navbar_padding_lr{
  padding-left:0%;
  padding-right:0%;
}

#navbar_hello_color{
  color : white;
  a{
    color : white;
  }
}

#navbar_logout{
  color:gray;
}


.inline-blk {
  display: inline-block;
}

.align-center{
  text-align:center;
  margin : 0 auto;
}

.textarea {
  width : 50%;
  height : 50px;
}
#tb_unspot{
 vertical-align:middle;
 color: gray;
 }
#tb_spot{
 vertical-align:middle;
  font-weight:bold;
}




/* comment */

.comments {
  list-style: none;
  padding : 0;
  margin-top: 10px;
  li {
    /*border-top : 1px solid #e8e8e8;*/
    list-style: none;
    padding: 10px 40px;
    /*border-bottom: 1px solid #e8e8e8;*/
  }
  .user {
    color:$gray-light;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    text-align : right;
  }
  .thumbs_margin{
    margin-left:8px;
    margin-right:5px;
    margin-bottom:3px;
  }
  .color-orange{
    color:red;
    margin-right: 5px;
  }
}





/* comment-form */ 

.comment-box {
  
  .user_form {
    margin-left : 40px;
  }
  .comment_submit_btn {
    margin-left: 0px;
  }
}

#comments_border_top {
  border-top : 1px solid #e8e8e8;
}

#new_comment{
  float:left;
}




/* comment_valuation */

.new_comment_valuation {
  float:left;
}
.edit_comment_valuation {
  float:left;
}
.also_unalso_btn {
  padding : 0;
  border : 0;
}

.progress{
  height : 10px;
  width : 60%;
  margin-left : 50px;
  cursor : pointer;
}



.progress-bar{
  border-right:2px solid white
}
#evaluate_progress{
  margin-left:0;
  margin-top:5px;
  float:left;
}



/* side bar */

aside {
  display:inline-block;
  float:right;
  width:150px;

}
#side_bar_pro {
  display :inline-block;
  float : right;
  
}
#side_bar_sub {
  display :inline-block;
  float : right;
  
}

/* xtachi_form */

#xtachi_count{
  text-align: center;

}

.btn_half {
  margin:0;
  width:50%;
}

.xtachi_num{
  font-size:22px;
  display:block;
  text-align: center
}

#uptachi_form{
 margin: 1em;
  margin-left: 20%;
  float:left;
  display:inline-block;
}

#hatachi_form{
float:left;
 margin-right: 25%;
  margin: 1em;
  display:inline-block;
}
.hatachi{
  font-size:18px;
}
.uptachi{
  font-size:18px;
}


/* lecture */
.border-box {
  border : 1px solid #e8e8e8;
  padding-bottom: 25px;
}

.border-left-right{
    border-left : 1px solid #e8e8e8;
    border-right : 1px solid #e8e8e8;
}


/* timetable */
#time_table{
  height: 600px;
  table-layout: fixed;
  font-weight:bold;
  border-collapse: collapse; 


  
}
#timetable_td{

    border: 1px solid;

    text-align: center;
     vertical-align: middle;
     font-size:9px;
      height:25px;

 }
 #timetable_th{
   border: 1px solid;

    text-align: center;
     vertical-align: middle;
     width: 150;
     font-size:15px;

 } #timetable_td_time{     height: 50px;     width: 80px;     text-align:
center;      vertical-align: middle;     font-size:15px;

   
}
#timetable_tr{
    border: 1px solid;

    text-align: center;
  vertical-align: middle;


}
#recent
{
   max-width: 95%;
   margin-left: auto;
   margin-right: auto;
}
#lecturelist{
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
}


/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* home */
#border-none{
  border-color:white;
}
.user_valuation_box {
  padding-top : 15px;

  .valuation_contents {
    background-color : white;
    padding-top : 15px;
    padding-bottom : 15px;
    cursor : pointer;
  }  
  .timestamp{
    color:#AAA;
  }
  .name_sentence {
    font-weight:150;
    color:#999;
  }
}



.row_pd_top {
  padding-top:5px;
}

.user_section{
  border-bottom : 1px solid $gray-lighter;
  padding-bottom : 10px;
  margin-bottom : 15px;
  .nickname_attr {
    font-weight : bold;
    display : inline;
  }
  .nickname_mgn {
    padding-left: 5px;
    color : #AAA;
    font-weight: 160;
  }
}

.valuation_star {
  margin-top: 5px;
  height : 40px;
  width : 100%;
  display:inline;
  span {
    /*margin-right:10px;*/
    float:left;
    height : 25px;
    width : 12%;
    background : url("unactivated_star.png");
    display : inline;
    background-repeat: no-repeat;
  }
  .active{
    float:left;
    width : 12%;
    height : 25px;
    background : url("activated_star.png");
    display : inline;
    background-repeat: no-repeat;
  }
}
.valuation_box{
  width : 100%;
  display : inline;
  height: 35px;
  float:left;
  .left {
    float:left;
    width : 15%;
    color : #AAA;
    font-weight:140;
  }
  .right{
    float : right;
    width:25%;
    text-align: left;
  }
  .progress{
    margin-top:5px;
    height : 10px;
    width : 50%;
    margin-left : 50px;
    cursor : pointer;
  }
  .total_subject{
    margin-top:10px;
    font-size:15px;
  }
  #total{
    font-size:15px;
    margin-top:10px;
  }
}
.total{
  height : 40px;
  vertical-align: middle;
  .total_text{
    text-align: right;
    padding-top :5px;
  }
}

.show_comment{
  float : none;
}


/* 강제 강의평가 박스 */
.writtingform_box
{
  background: white;
  border:1px solid $gray-lighter;
}

.message{
  display : block;
  width: 500px;
}


.row_padding_zero{
  padding-top:0;
}


/*search_box */
.search_box
{
  background:white;
  margin :10px;
}




/* 세부강의 */
.detail_lecture_row{
  padding-top :0px;

  .detail_lecture_box{
    padding-bottom: 20px;
    background-color: white;
  }
  .professor_section{
    border-bottom: 1px solid $gray-lighter;
    margin-bottom:20px;
  }
  .lecture_valuation{
    padding-top:20px;
  }

}
.total_star {
  width:50%;
  height:50px;
  display:inline;
  float:left;
  .total_text{
    float:left;
    margin-right:20px;
  }
  .left{
    width:13%;
    float:left; 
    margin-right : 10px; 
    margin-top:10px;
  }
  .right{
    font-size:18px;
    float:right;
    width: 20%; 
    text-align:left; 
    margin-top:10px;
  }
}

.valuation_section{
  width : 50%;
  float:left; 
  display:inline; 
  height : 50px;

  .left{
    float:left; 
    margin-right : 10px; 
    margin-top:10px;
  }
  .right{
    font-size: 18px;
    float:right;
    width: 20%; 
    text-align:left; 
    margin-top:10px;
  }
  #acc_progress{
    width : 60%;
    margin-top:15px;
  }
}


/* daemoon */
.daemoon_login_text{
  padding-top:10px;
  
  border-top: 2px solid $gray-lighter;
}

















#total_spot{
  vertical-align:middle;
}





.forcingwritting_box
{
  background:white;
  width: 50%;
}


#div_total
{
  margin-top: 3px;
  float:left;
  

}

#showremain{
position:absolute;
right:0px;
}


/* form */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.fb_btn{
  margin-top:15px;
  width : 100%;
}
.email_btn{
  margin-top:15px;
  width : 100%;
}
.btn_wd_100{
  font-size:18px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
