@import "bootstrap-sprockets";
@import "bootstrap";



@font-face{font-family:'Nanum_Gothic'; src:url('/assets/nanum_gothic.ttf')}

@import url(http://fonts.googleapis.com/css?family=Oswald);


/* fancybox */
.fancybox{
  display:none;
}
body{
  font-family: Nanum_Gothic;
  background-color : #F5F5F5;
}

div{
  li{
    padding-left : 0px;
  }
}

/* 댓글 입력폼 설정 */
#login_comment{
  resize:none;
}
#comment_content{
  resize:none;
}



#grade_text{
  display: block;
  
}
.row{
  padding-top: 30px;
}
.fb-login-button{
  padding-top: 15px;
}
h1{
  display: inline;
}

#sejonglogo{
  padding-top: 5px;
}

#form1{
  display: inline;
  float: right;


}
#form2{
  width:100%;   
  text-align:center; 
  margin-right:auto;
  margin:0 auto;
}
.row_padding_reduction{
  padding-top:10px;
}
.zero-padding-right{
  padding-right:0;
}
.zero-padding-left{
  padding-left:0;
}


@mixin box_sizing {

  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* header */





/* miscellaneous */

.debug_dump { 
  /*margin-left: 140px;*/
  clear: both;
  float: left;
  width: 82.5%;
  margin-top: 45px;
  @include box_sizing; 
}
/*
#lecture_list:hover {
  background-color: yellow;
  line: false;
}
*/

/*
tr.lovelyrow{
  background-color: #F6E3CE;
}
*/

tr.lovelyrow:hover{
  background-color: #CEF6EC;
  cursor: pointer;
  font-weight:bold;
}

table.nogap{
  border-collapse: collapse;
}


#navbar_margin_top{
  margin-top:15px;
}
#navbar_padding_lr{
  padding-left:130px;
  padding-right:130px;
}

#navbar_hello_color{
  color : white;
  a{
    color : white;
  }
}

#navbar_logout{
  color:gray;
}


.inline-blk {
  display: inline-block;
}

.align-center{
  text-align:center;
  margin : 0 auto;
}

.textarea {
  width : 50%;
  height : 50px;
}
#tb_unspot{
 color: gray;
 }
#tb_spot{
  font-weight:bold;
}




/* comment */

.comments {
  list-style: none;
  padding : 0;
  margin-top: 10px;
  li {
    /*border-top : 1px solid #e8e8e8;*/
    list-style: none;
    padding: 10px 40px;
    /*border-bottom: 1px solid #e8e8e8;*/
  }
  .user {
    color:$gray-light;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    text-align : right;
  }
  .thumbs_margin{
    margin-left:8px;
    margin-right:5px;
    margin-bottom:3px;
  }
  .color-orange{
    color:red;
    margin-right: 5px;
  }
}





/* comment-form */ 

.comment-box {
  
  .user_form {
    margin-left : 40px;
  }
  .comment_submit_btn {
    margin-left: 0px;
  }
}

#comments_border_top {
  border-top : 1px solid #e8e8e8;
}

#new_comment{
  float:left;
}




/* comment_valuation */

.new_comment_valuation {
  float:left;
}
.edit_comment_valuation {
  float:left;
}
.also_unalso_btn {
  padding : 0;
  border : 0;
}

.progress{
  
  width : 40%;
}



/* side bar */

aside {
  display:inline-block;
  float:right;
  width:150px;

}
#side_bar_pro {
  display :inline-block;
  float : right;
  
}
#side_bar_sub {
  display :inline-block;
  float : right;
  
}

/* xtachi_form */

#xtachi_count{
  text-align: center;

}

.btn_half {
  margin:0;
  width:50%;
}

.xtachi_num{
  font-size:22px;
  display:block;
  text-align: center
}

#uptachi_form{
 margin: 1em;
  margin-left: 20%;
  float:left;
  display:inline-block;
}

#hatachi_form{
float:left;
 margin-right: 25%;
  margin: 1em;
  display:inline-block;
}
.hatachi{
  font-size:18px;
}
.uptachi{
  font-size:18px;
}


/* lecture */
.border-box {
  border : 1px solid #e8e8e8;
  padding-bottom: 25px;
}

.border-left-right{
    border-left : 1px solid #e8e8e8;
    border-right : 1px solid #e8e8e8;
}


/* timetable */
#time_table{
  height: 600px;
  table-layout: fixed;
  font-weight:bold;
  border-collapse: collapse; 


  
}
#timetable_td{

    border: 1px solid;

    text-align: center;
     vertical-align: middle;
     font-size:9px;
      height:25px;

 }
 #timetable_th{
   border: 1px solid;

    text-align: center;
     vertical-align: middle;
     width: 150;
     font-size:15px;

 } #timetable_td_time{     height: 50px;     width: 80px;     text-align:
center;      vertical-align: middle;     font-size:15px;

   
}
#timetable_tr{
    border: 1px solid;

    text-align: center;
  vertical-align: middle;


}
#recent
{
   max-width: 95%;
   margin-left: auto;
   margin-right: auto;
}
#lecturelist{
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
}


/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* home */
#border-none{
  border-color:white;
}
.user_valuation_box {
  padding-top : 15px;

  .valuation_contents {
    background-color : white;
    padding-top : 15px;
    padding-bottom : 15px;
  }
}

.row_pd_top {
  padding-top:5px;
}

.user_section{
  border-bottom : 1px solid $gray-lighter;
  padding-bottom : 10px;
  margin-bottom : 15px;
  .nickname_attr {
    font-weight : bold;
    display : inline;
  }
  .nickname_mgn {
    padding-left: 5px;
    color : #AAA;
    font-weight: 160;
  }
}

.valuation_star {
  span {
    float:left;
    height : 25px;
    width : 25px;
    background : url("unactivated_star.png");
    display : block;
    background-repeat: no-repeat;
  }
  .active{
    float:left;
    width : 25px;
    height : 25px;
    background : url("activated_star.png");
    display : block;
    background-repeat: no-repeat;
  }
}

.valuation_item {
  
  float:left;
  padding-right:15px;
  width : 55px;
  .grade{
    text-align:right;
    width : 45px;
  }
}

.total{
  height : 40px;
  vertical-align: middle;
  .total_text{
    text-align: right;
    padding-top :5px;
  }
}

.show_comment{
  float : none;
}


