@import "bootstrap-sprockets";
@import "bootstrap";

.row{
  padding-top: 30px;
}
.fb-login-button{
  padding-top: 15px;
}
h1{
  display: inline;
}

#sejonglogo{
  padding-top: 5px;
}

#form1{
  display: inline;
  float: right;
 
}

@mixin box_sizing {

  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump { 
  /*margin-left: 140px;*/
  clear: both;
  float: left;
  width: 82.5%;
  margin-top: 45px;
  @include box_sizing; 
}
/*
#lecture_list:hover {
  background-color: yellow;
  line: false;
}
*/


tr.lovelyrow:hover{
  background-color: #CEF6EC;
  cursor: pointer;
}

table.nogap{
  border-collapse: collapse;
}






.inline-blk {
  display: inline-block;
}


.align-center{
  text-align:center;
  margin : 0 auto;
}

.textarea {
  width : 50%;
  height : 50px;
}




/* comment */

.comments {
  border-top : 1px solid #e8e8e8;
  list-style: none;
  padding : 0;
  margin-top: 10px;
  li {
    padding: 10px 40px;
    border-bottom: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;

  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    text-align : right;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}


/* comment-form */ 

.comment-box {
  
  .user_form {
    margin-left : 40px;
  }
  .comment_submit_btn {
    margin-left: 40px;
  }
}

















