// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row_pd_top{
	.row_half_star{
		height : 40px;
	}	
}



/* _forcingwritting.html.erb */

.forcing_writting_box
{
	text-align : center;
	background:white;
	width: 50%;
	.h_inline{
		display:inline;
	}
	.search_box{
		display: block;
		margin-bottom: 10px;
	}
	.forcing_writting_contents{
		width:100%;   
		text-align:center; 
		margin-right:auto;
		margin:0 auto;
	}
}


/* _progress_bar.html.erb */
.valuation_text_box{
	.h_size{
		font-size:16px;
	}
}

/* progress_bars.html.erb */

.valuation_item {
	width:10%;
	text-align:right;
	float:left;
	margin-right:20px;
	margin-top:5px
}












