// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row_pd_top{
	.row_half_star{
		height : 40px;
	}	
}

/* writting_form.html.erb */

.writting_form_box
{
	height:4290px;
	width:1000px;
	margin-left : auto;
	margin-right : auto;

	.notice{
		width :720px;
		margin : 0 auto;
	}

	.form_box{
		width:720px;
		margin : 0 auto;
		.v_row{
			height:45px;
			.progress{
				height : 20px;
				width : 300px;
				margin-left : 50px;
				cursor : pointer;
			}
		}
		.v_textarea{
			margin-top:25px;
		}
		.valuation_text_box{
			width:500px;
		}
		#showremain{
			text-align: right;
		}
	}
}




/* _forcingwritting.html.erb */

.forcing_writting_box
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;

	background:white;
	.h_inline{
		display:inline;
	}
	.search_box{
		width:720px;
		margin : 10px auto;
		text-align : center;
		display: block;
		margin-bottom: 10px;
			.search	
		{
			background:white;
			margin :10px;
		}
	}

	.forcing_writting_search{
		width:100%;   
		text-align:center; 
		margin-right:auto;
		margin:0 auto;
	}

	.search_results_box {
		width:720px;
		margin:30px auto;

		tr.search_table_row:hover{
			background-color: #CEF6EC;
			cursor: pointer;
			font-weight:900;
		}
		
		.text_head{
				text-align:center;
				color:gray;
				padding-left:0px;
				padding-right:0px;
		}
		#div_total
		{
  			float:left;
		}
		search_table_row{
			
		}

		.tb_unspot{
			vertical-align:middle;
			color: gray;
		}
		.table_subject, .total_spot{
			vertical-align:middle;
		}

		.total_spot span {
		    /*margin-right:10px;*/
		    width : 27px;
		    height : 26px;
		    background : url("unactivated_star.png");
		    display : inline-block;
		    background-repeat: no-repeat;
		    margin-right:-4px;
  		}
	    .total_spot .active{
		    width : 27px;
		    height : 26px;
		    background : url("activated_star.png");
		    display : inline-block;
		    background-repeat: no-repeat;
		    margin-right:-4px;
	    }

	    .total_text{
	    	float: right;
		    margin-right : 20px;
		    margin-top: 3px;
		    font-size: 16px;
	    }

	}
}


/* _progress_bar.html.erb */
.valuation_text_box{
	.h_size{
		font-size:16px;
	}
}

/* progress_bars.html.erb */

.valuation_item {
	width:10%;
	text-align:right;
	float:left;
	margin-right:20px;
	margin-top:5px
}

/* 							*/
/* staticpages # newsfeed  */
/* 뉴스피드 뷰 입니다.  */
/*   */

.valuation_box{
	.progress{
		height : 10px;
		width : 200px;
		margin-left : 50px;
		cursor : pointer;
	}
}



























