<h1 class="footerSubject">
아뭐듣지
</h1>
<hr class="footerSubjectHr" size="50" />
<p class="footerSubject">세종대 강의 시간표를 가장 편하게 작성할 수 있는 곳입니다. </p>
<hr>

<span>Copyright &copy; 2015 by OpenYearRound. Inc. All rights reserved</span>
<span class="pageList">
	<ul>
		<li>OpenYearRound</li>
		<li>아뭐듣지페북페이지</li>
		<li>문의하기</li>
	</ul>
</span>