            

    <nav class="navbar navbar-inverse">
      <div class="container" id = "navbar_padding_lr">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <% if current_user && current_user.nickname.nil?%>
            <a class="navbar-brand" href="#" id="header">아뭐듣지</a>
          <% else %>
            <a class="navbar-brand" href="/" id="header">아뭐듣지</a>
          <% end %>
        </div>
          
          <ul class="nav navbar-nav navbar-right">        
<% if current_user %>
        <div id="navbar" class="navbar-collapse collapse">

          <% unless current_user.nickname.nil? %>
            <div id = "navbar_margin_top"><li> <span id = "navbar_hello_color">안녕 !</span>  <%= link_to current_user.nickname + " ", edit_user_path(current_user), class: "in-blk" %>  
             <%= link_to "시간표 짜기", timetable_lecture_url(current_user) %>
             <a href="/signout">logout </a></li></div>
          <% end %>
            <li> </li>
          
<% else %>
          
          <div id ="navbar_margin_top"><li> 
                <a href="/auth/facebook"> Facebook login </a>
                <!--      <%= link_to "Facebook login", "/auth/facebook", id: "sign_in" %> -->  </p>
                      </li></div>
<% end %>


          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>



